<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}} - Detalles del Producto</title>
</head>
<body>
    <h1>{{product.title}}</h1>
    <p>Descripción: {{product.description}}</p>
    <p>Precio: ${{product.price}}</p>
    <button onclick="agregarAlCarrito('{{product.title}}')">Agregar al Carrito</button>
</body>
</html>
<script>
    function agregarAlCarrito(title) {
        alert(`Producto ${title} agregado al carrito`);
    }
</script>
